{% extends '../base.html' %}
{% load static %}
{% block title %}Study{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row clearfix">
            <h2 class="text-center">Studying...</h2>
            <div class="col-md-12 column">
                {% for item in items %}
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <h4>
                            title: {{ item.title}}
                        </h4>
                    </div>
                    <div class="col-md-6 column">
                        <p  class="text-center lead">
                             URL: {{ item.url }}
                        </p>
                        <p class="text-left">
                             type:{{ item.value }}
                        </p>
                        <p class="text-left">
                            label:{{item.label_tag}}
                        </p>
                    </div>
                    <div class="col-md-4 column">
                        <ul class="list-inline">
                            <div>
                                <li class="lead">
                                    <h5>source from</h5>
                                    Site: {{item.site_type}}
                                </li>
                            </div>

                        </ul>
                    </div>
                </div>
                <!--show next list-->
                <h4>Nexts:</h4>
                <div class="col-md-12 column">
                    <table border="1">
                    {% for next in nexts %}
                    <tr>
                        <td>
                            <h4>
                                title: {{ next.title}}
                            </h4>
                        </td>
                        <td>
                            <form class="get_next" action="/reco/study/{{next.label}}/{{next.url_id}}" method="GET">
                                <input type="hidden" name="prev" value="{{ item.url_id }}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary pull-right">Go</button>
                            </form>
                        </td>
                    <tr>
                        <td>
                            <p class="text-left">
                                 推薦値:{{ next.value }}
                            </p>
                        </td>
                        <td>
                            <p class="text-left">
                                label:{{next.label_tag}}
                            </p>
                        </td>
                    </tr>
                    {% endfor%}
                    </table>
                </div>
                <h5>prev: {{prev}}</h5>
                <div class="row cl">
                    {% if prev%}
                    <div>
                        <form class="like_this" action="/reco/like/" method="POST">
                            <input type="hidden" name="url_id" value="{{ item.url_id }}">
                            <input type="hidden" name="prev_id" value="{{ prev }}">
                            <input type="hidden" name="url_label" value="{{ item.label }}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary pull-right">いいね！</button>
                        </form>
                    </div>
                    {% endif %}
                    <div>
                        <form class="add_book" action="/reco/bookmark/add/" method="POST">
                            <input type="hidden" name="url_title" value="{{ item.title }}">
                            <input type="hidden" name="url_id" value="{{ item.url_id }}">
                            <input type="hidden" name="prev_id" value="{{ prev }}">
                            <input type="hidden" name="url_label" value="{{ item.label }}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary pull-right">ブックマークに追加</button>
                        </form>
                    </div>
                </div>



                <HR style="FILTER: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color=#987cb9 SIZE=10>
                </div>
                {% endfor %}
            </div>
    </div>
{% endblock %}