{% extends 'base.html' %}
{% load static %}
{% block title %}login{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}



{% block content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<div class="text-center">
					<!-- <div class="starter templete"> -->
					<h1>
						Online study website
					</h1>
					<p>
						we generate optimized contents for only you!
					</p>
					<!-- <p><a class="btn btn-primary btn-large" href="/admin/">Admin</a></p> -->
                	{% if request.session.is_login %}
                	    <h3>Hello,{{ request.session.user_name }}! welcome back</h3>
               		{% else %}
                	    <h3>Please Login first</h3>
                	    <a href="/user/login" class="">Enter to Login</a>
                	{% endif %}
                	{% if message %}
                	<div class="alert alert-warning">{{ message }}</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

    {% if request.session.is_login %}
	<!--<div class="row clearfix">-->
		<!--<div class="col-md-3 column">-->
			<div class="box_fusen">
			<h4>view my bookmark</h4>
			</div>
            <a class="btn btn-primary btn-large" href="/reco/bookmark">enter</a>
		<!--</div>-->
		<!--<div class="col-md-3 column">-->
		
			<div class="box_fusen">
			<h4>learn one</h4>
			</div>
            <a class="btn btn-primary btn-large" href="/reco/study/2/1">enter</a>
		
		<!--</div>-->
		<!--<div class="col-md-3 column">-->
			<div class="box_fusen">
			<h4>pick one for me</h4>
			</div>
			<ul class="list-inline">
				<div>
					<li>
						<a class="btn btn-primary btn-large" href="/reco/study/1">式の計算</a>
					</li>
					<li>
						<a class="btn btn-primary btn-large" href="/reco/study/2">連立方程式</a>
					</li>
					<li>
						<a class="btn btn-primary btn-large" href="/reco/study/3">１次関数</a>
					</li>
					<li>
						<a class="btn btn-primary btn-large" href="/reco/study/3">平行と合同</a>
					</li>
					<li>
						<a class="btn btn-primary btn-large" href="/reco/study/3">三角形と四角形</a>
					</li>
					<li>
						<a class="btn btn-primary btn-large" href="/reco/study/3">関数のグラフと図形</a>
					</li>
					<li>
						<a class="btn btn-primary btn-large" href="/reco/study/3">確率</a>
					</li>
				</div>
			</ul>
            <!--<a class="btn btn-primary btn-large" href="/reco/study">进入</a>-->
		<!--</div>-->
	</div>
    {% endif %}
</div>

{% endblock %}