.box_fusen {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #232323;
    background: #fff8e8;
    border-left: solid 10px #ffc06e;
}
.box_fusen p {
    margin: 0; 
    padding: 0;
}

ul.list-inline li {
    margin-bottom: 10px;
}
